
/*COMMON*/

.white-text {
    color: white;
}

ul {
    list-style-type: none;
}

.s_none {
    display: none;
}

.star {
    font-size: 2rem;
}

.star::before { 
    display: inline-block;
    content: '';
    width: 60px;
    height: 3px;
    background-color: white;
    vertical-align: middle;
}

.star::after { 
    display: inline-block;
    content: '';
    width: 60px;
    height: 3px;
    background-color: white;
    vertical-align: middle;
}

/*HEADER*/

header {
    background-color: rgb(44, 58, 81);
    height: 80px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 80px;
}

.brand {
    font-size: 1.2rem;
}

header nav {
    text-align: right;
}

.burger-menu {
    font-size: 1.5rem;
}

.main-menu li {
    display: inline-block;
    margin-left: 1rem;
}

.main-menu a {
    text-decoration: none;
    color: inherit;
    font-size: 1.1rem;
 }

/*MAIN*/

/*start-section*/

.back-green {
    background-color: rgb(0, 201, 159);
    text-transform: uppercase;
}

section {
    padding: 3rem 0;
}

.start-img {
    width: 250px;
}

.start-title {
    font-weight: 700;
    font-size: xx-large;
}

/*portfolio-section*/

.black::before {
    background-color: black;
}

.black::after {
    background-color: black;
}

.box_img {
    width: 100%;
    border-radius: 10px;
}

.back_gray {
    background-color: lightslategray;
    height: 300px;
}

.gray_footer {
    background-color: gray;
    height: 80px;
}
